<div class="container m-5">
    <div class="row">
        <div class="col-md-6">
            <div class="bg-info text-white p-2">
                Selected Product: {{selectedProduct.name || '(None)'}}
            </div>
        <table class=" table table-sm table-bordered mt-2">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th style="width: 150px;"></th>
                </tr>
            </thead>
            <tbody><!-- bg-info ile seçim işlemi sağlanıyor-->
                <tr *ngFor="let product of model.getProducts()"
                [class.bg-info]="getSelected(product)">
                    <td>{{product.id}}</td>
                    <td><img src="assets/img/{{product.imageUrl}}" alt="" width="80"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td><button class="btn btn-danger btn-sm">Delete</button>
                        <button (click)="editProduct(product)" class="btn btn-primary btn-sm ml-2">Edit</button></td>
                </tr>
            </tbody>
            
        </table>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Product Name</label> <br>
                <!-- keyup ile enter kontrolünden sonra arama yapmak ve server için yük oluşturmamak
                istedik-->
                <!-- value inputa product ismini yazdırır-->
                <input #pName
                *ngIf="(selectedProduct.name)"
                [value]="selectedProduct.name">
            </div>
            <div class="form-group">
                <label>Product Id</label> <br>
                <!-- keyup ile enter kontrolünden sonra arama yapmak ve server için yük oluşturmamak
                istedik-->
                <!-- value inputa product ismini yazdırır-->
                <input #pId 
                *ngIf="(selectedProduct.id)"
                [value]="selectedProduct.id">
            </div>
            <div class="form-group">
                <label>Product Description</label> <br>
                <!-- keyup ile enter kontrolünden sonra arama yapmak ve server için yük oluşturmamak
                istedik-->
                <!-- value inputa product ismini yazdırır-->
                <input #pName 
                *ngIf="(selectedProduct.description)"
                [value]="selectedProduct.description">
            </div>
            <div class="form-group">
                <label>Product Price</label> <br>
                <!-- keyup ile enter kontrolünden sonra arama yapmak ve server için yük oluşturmamak
                istedik-->
                <!-- value inputa product ismini yazdırır-->
                <input #pName 
                *ngIf="(selectedProduct.price)"
                [value]="selectedProduct.price">
            </div>
        </div>
    </div>
</div>

