<!-- ng template ile oluşturduğumuz bir listeyi tekrar tekrar gösterme işlemi-->
<ng-template [ngTemplateOutlet]="productList"></ng-template>
<ng-template [ngTemplateOutlet]="productList"></ng-template>



<ng-template #productList>
    <div class="m-5">
        <button class="btn btn-primary" (click)="addProduct()">add product</button>
    <ul class="list-group mt-2">
        <li *ngFor="let product of model.getProducts()" class="list-group-item">
                {{product.name}}
        </li>
    </ul>
    </div>
</ng-template>






