<!-- Ng Switch ile koşul kullanımı -->
<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductCount()">
    <span *ngSwitchCase="0">there are no products</span> 
    <span *ngSwitchCase="1">there are 1 products</span> 
    <span *ngSwitchCase="2">there are 2 products</span> 
    <span *ngSwitchDefault>there are many products</span> 
</div>

<!-- String bir değer ile kullanımı -->
<div class="bg-info m-2 p-2" [ngSwitch]="model.getProductsById(1).name">
    <span *ngSwitchCase="productName">samsung S5</span> 
    <span *ngSwitchCase="'samsung s6'">Samsung S6</span> 
    <span *ngSwitchCase="'Samsung S7'">Samsung S7</span> 
    <span *ngSwitchDefault>other products</span> 
</div>